<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!--  GAE ADMIN FILTER: ADMIN LOGIN -->
    
    <filter>
		<filter-name>adminlogin</filter-name>
		<filter-class>nightlifebuddy.AdminLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>adminlogin</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	    <servlet-name>adminlogout</servlet-name>
	    <servlet-class>nightlifebuddy.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>adminlogout</servlet-name>
	    <url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddAdminProfileServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdminProfileServlet</servlet-name>
		<url-pattern>/admin/addAdminProfileServlet</url-pattern>
	</servlet-mapping>
	    
	
    <servlet>
		<servlet-name>AddEventServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEventServlet</servlet-name>
		<url-pattern>/admin/addEventCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteEventServlet</servlet-name>
		<servlet-class>nightlifebuddy.DeleteEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEventServlet</servlet-name>
		<url-pattern>/admin/deleteEventCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateEventServlet</servlet-name>
		<servlet-class>nightlifebuddy.UpdateEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEventServlet</servlet-name>
		<url-pattern>/admin/updateEventCommand</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>SearchEventServlet</servlet-name>
	    <servlet-class>nightlifebuddy.SearchEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SearchEventServlet</servlet-name>
	    <url-pattern>/admin/seachEventCommand</url-pattern>	    
	</servlet-mapping>
    
	<servlet>
		<servlet-name>AddVenueServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVenueServlet</servlet-name>
		<url-pattern>/admin/addVenueCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteVenueServlet</servlet-name>
		<servlet-class>nightlifebuddy.DeleteVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteVenueServlet</servlet-name>
		<url-pattern>/admin/deleteVenueCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<servlet-class>nightlifebuddy.UpdateVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<url-pattern>/admin/updateVenueCommand</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>SearchVenueServlet</servlet-name>
	    <servlet-class>nightlifebuddy.SearchVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SearchVenueServlet</servlet-name>
	    <url-pattern>/admin/seachVenueCommand</url-pattern>	    
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
