<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!--  GAE ADMIN FILTER: ADMIN LOGIN -->
    
    <filter>
		<filter-name>adminlogin</filter-name>
		<filter-class>nightlifebuddy.AdminLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>adminlogin</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	    <servlet-name>admin</servlet-name>
	    <jsp-file>/admin/adminHome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>admin</servlet-name>
	    <url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>adminlogout</servlet-name>
	    <servlet-class>nightlifebuddy.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>adminlogout</servlet-name>
	    <url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddAdminProfileServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddAdminProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdminProfileServlet</servlet-name>
		<url-pattern>/addAdminProfileServlet</url-pattern>
	</servlet-mapping>
	    
	
    <servlet>
		<servlet-name>AddEventServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEventServlet</servlet-name>
		<url-pattern>/addEventCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteEventServlet</servlet-name>
		<servlet-class>nightlifebuddy.DeleteEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEventServlet</servlet-name>
		<url-pattern>/deleteEventCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateEventServlet</servlet-name>
		<servlet-class>nightlifebuddy.UpdateEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEventServlet</servlet-name>
		<url-pattern>/updateEventCommand</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>SearchEventServlet</servlet-name>
	    <servlet-class>nightlifebuddy.SearchEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SearchEventServlet</servlet-name>
	    <url-pattern>/seachEventCommand</url-pattern>	    
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddGenreServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddGenreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddGenreServlet</servlet-name>
		<url-pattern>/addGenreCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteGenreServlet</servlet-name>
		<servlet-class>nightlifebuddy.DeleteGenreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteGenreServlet</servlet-name>
		<url-pattern>/deleteGenreCommand</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>SearchGenreServlet</servlet-name>
	    <servlet-class>nightlifebuddy.SearchGenreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SearchGenreServlet</servlet-name>
	    <url-pattern>/seachGenreCommand</url-pattern>	    
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateGenreServlet</servlet-name>
		<servlet-class>nightlifebuddy.UpdateGenreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGenreServlet</servlet-name>
		<url-pattern>/updateGenreCommand</url-pattern>
	</servlet-mapping>
    
	<servlet>
		<servlet-name>AddVenueServlet</servlet-name>
		<servlet-class>nightlifebuddy.AddVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVenueServlet</servlet-name>
		<url-pattern>/addVenueCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteVenueServlet</servlet-name>
		<servlet-class>nightlifebuddy.DeleteVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteVenueServlet</servlet-name>
		<url-pattern>/deleteVenueCommand</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<servlet-class>nightlifebuddy.UpdateVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<url-pattern>/updateVenueCommand</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>SearchVenueServlet</servlet-name>
	    <servlet-class>nightlifebuddy.SearchVenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SearchVenueServlet</servlet-name>
	    <url-pattern>/seachVenueCommand</url-pattern>	    
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>GetAllVenuesServlet</servlet-name>
	    <servlet-class>nightlifebuddy.GetAllVenuesServletJSON</servlet-class>	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetAllVenuesServlet</servlet-name>
	    <url-pattern>/getAllVenues</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
